.section { width: 100%; }

.heading {
  font-size: var(--heading-section);
  font-weight: 500;
  color: var(--color-text-primary);
  margin: 0 0 20px;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.card {
  display: block;
  text-decoration: none;
  color: inherit;
  background: #f2efea;
  /* border-radius: var(--radius-md); */
  overflow: hidden;
  box-shadow: var(--shadow-sm);
  transition: box-shadow 0.2s, transform 0.2s;
}

.card:hover {
  box-shadow: var(--shadow-md);
  transform: translateY(-3px);
}

.imgWrap {
  position: relative;
  height: 350px;
  overflow: hidden;
  background: #f2efea;
}

.img {
  object-fit: cover;
  transition: transform 0.35s ease;
}

/* .card:hover .img { transform: scale(1.04); } */

.body {
  padding: 14px 16px;
  display: flex;
  flex-direction: column;
  gap: 6px;
}

.name {
  font-size: 20px;
  font-weight: 600;
  color: var(--color-text-primary);
  margin: 0;
}

.name span {
  font-size: 15px;
  font-weight: 500;
  color:#607153;
 font-style: italic;
  margin-left: 10px;
}

.label {
  font-size: 13px;
  font-weight: 500;
  color: var(--color-green-dark);
}

@media (max-width: 768px) { .grid { grid-template-columns: repeat(2, 1fr); } }
@media (max-width: 480px) { .grid { grid-template-columns: 1fr; } }
